{% import   'base/js_templates.html'  as base_js_templates %}
{% import   'base/content_menu.html'  as base_content_menu %}
{% import   'wood/treerings.html'     as treerings %}

{% macro display_treerings_checkbox() %}
<div class="ui item disabled checkbox display-treerings-checkbox">
    <input type="checkbox">
    <label>Tree rings</label>
</div>
{% endmacro %}



{% macro edit_menu_item(app) %}
<!--------- MACRO edit_menu_item() START---------->
<div class="ui simple dropdown icon item edit-menu-button">
    <i class="pen icon"></i>
    <div class="menu edit-menu">
        <div class="item edit-mode edit-cells" onclick="{{app}}.Editing.on_edit_cells_button(event)">
            <i class="pen icon"></i>
            Edit cells
        </div>
        <div class="item edit-mode edit-treerings" onclick="{{app}}.Editing.on_edit_treerings_button(event)">
            <i class="pen icon"></i>
            Edit tree rings
        </div>

       
        
        <div class="divider hidden-when-disabled"></div>
        <div class="item brightness hidden-when-disabled">
            <i class="circle outline icon"></i>
            Brush size
            <div class="ui slider brush-size-slider" style="padding:0px; padding-top:5px;"></div>
            <script> $('.brush-size-slider').slider({max:100}).slider('set value', 30); </script>
        </div>

        <div class="divider hidden-when-disabled"></div>
        <div class="item edit-clear hidden-when-disabled" onclick="{{app}}.Editing.on_edit_clear(event)">
            <i class="times icon"></i>
            Reset
        </div>
        <div class="item edit-apply hidden-when-disabled" onclick="{{app}}.Editing.on_edit_apply(event)">
            <i class="check icon"></i>
            Apply
        </div>

        <script> $('.hidden-when-disabled').hide() //css doesnt work </script>
    </div>
</div>
<!--------- MACRO edit_menu_item() END  ---------->
{% endmacro %}


{% macro roots_filetable_content(app)%}
<div class="filetable-content" style="display:none">
    {{ base_content_menu.content_menu(
            callback_on_process        = app+".Detection.on_process_image",
            callback_apply_corrections = None,
            callback_new_box           = None,
            callback_download          = app+".Download.on_single_item_download_click",
            edit_segmentation_item     = edit_menu_item(app),
            view_menu_kwargs           = {
                'show_results_layout': False,
                'extras':              display_treerings_checkbox(),
                'brightness_max':      10
            }
    ) | indent }}

    <div class="image-container">
        {{ base_js_templates.content_image(
            name           = "input",  
            overlay        = True,  
            viewcontrols   = app+".ViewControls",
            extras         = treerings.svg_overlay(app)
        ) | indent(8) }}
        {{ base_js_templates.content_image(
            name           = "result", 
            overlay        = False, 
            viewcontrols   = app+".ViewControls"
        ) | indent(8) }}
        {{ base_js_templates.progress_dimmer() }}
    </div>
</div>
{% endmacro %}


{% macro filetable_row_template(app) %}
    {{ base_js_templates.filetable_row_template(app, content=roots_filetable_content) }}
    {{ treerings.treering_overlay_templates() }}
{% endmacro %}

